a,
.i-check.i-check-stroke.checked:before,
.comment .comment-review-rate,
.footer-list > li > a:hover,
.text-color,
.thumb-caption-price > span.thumb-caption-price-discounted,
.blog-thumb:hover .blog-thumb-title,
.dropit-open .nav-drop-title {
  color: #96aa66;
}
.banner-btn,
.thumb-plus,
.bg-color,
.shopping-cart-counter,
.search-dialog-link.active,
.search-dialog-link.active:hover,
.sale-point-icon,
.product-rating > li.rated,
.category-filter-full-page .btn-group-sizes .btn.active,
.category-accordion .active > .panel-title > a,
.category-accordion-sizes .btn.active,
.category-pagination .pagination > li.active > a,
.category-pagination .pagination > li.active > a:hover,
.category-sidebar-white .category-items-list a:hover,
.category-sidebar-white .category-items-list li.active a,
.product-review-rating > li.rated,
.newsletter-area-icon,
.newsletter-area-submit,
.btn-primary,
.btn-ghost.btn-primary:hover,
.thumb-icon-quick-view,
.thumb-info-block-rating > li.rated,
.thumb-caption-rating > li.rated,
.thumb-to-cart,
.thumb-quick-view:hover,
.thumb-banner-btn:hover,
.slimmenu > li.active a,
.slimmenu.slimmenu-collapsed li ul li a:hover,
.irs-diapason,
.nav-drop > .nav-drop-menu > li > a:hover,
.i-check.checked,
.i-radio.checked,
.thumb-labels > li,
.category-sidebar-container .category-items-list li.active a,
.category-sidebar-container .category-items-list a:hover,
.story-box-color,
.navbar-main .navbar-brand,
.navbar-main .navbar-brand:hover,
.navbar-main .navbar-brand:active,
.navbar-main .navbar-brand:visited,
.box-item-color,
.thumb-hover-block-price .thumb-hover-block-price-discounted,
.dropit .dropit-submenu > li > a:hover {
  background: #96aa66;
}
a:hover,
.product-rating-group > .btn.active {
  color: #7a8c4e;
}
.product-tabs .nav-tabs > li.active > a,
.category-filter-full-page .btn-group-sizes .btn.active,
.category-accordion-sizes .btn.active,
.category-pagination-white .pagination > li.active > a,
.newsletter-area-input:focus,
.newsletter-container .newsletter-area-input:focus,
.btn-ghost.btn-primary,
.thumb-banner-btn:hover,
.i-check.hover,
.i-check.checked,
.i-radio.hover,
.i-radio.checked,
.main-footer,
.navbar-main .dropdown-menu,
.main-footer-full {
  border-color: #96aa66;
}
.form-control:focus {
  border-color: #b0bf8c;
}
.btn-primary {
  border-color: #899d57;
}
.btn-primary:hover,
.btn-primary:focus {
  background: #899d57;
}
.btn-primary:hover,
.btn-primary:focus {
  border-color: #7a8c4e;
}
.thumb-icon-quick-view:hover {
  background: #90a55d;
}
.thumb-to-cart:hover,
.thumb-plus:hover {
  background: #819553;
}
.irs-slider {
  background: #abbb85;
}
.section-title {
  background: #7f9058;
}
.banner:hover .banner-mask {
  background: #171a0f;
}
@media (min-width:992px) {
  .navbar-main .navbar-nav > li:hover > a {
    background: #96aa66;
  }
}
.section-title-white {
  background: #fff;
}
.section-title-gray {
  background: #ededed;
}
.box-item:hover .box-item-mask {
  background: #262c18;
}